html {
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.6rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
}

.cabecalho .logo {
  background: url(../images/logo.jpg) center center no-repeat;
  width: 85px;
  height: 85px;
  font-size: 0;
}

.cabecalho ul {
  display: flex;
}

.cabecalho ul li {
  padding: 15px;
}

.cabecalho ul li a:hover {
  font-weight: bold;
}

.painel {
  background: url(../images/painel.jpg) center center no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.painel h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.secao-com-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;  
}

.secao-com-texto img {
  width: 170px;
  height: 170px;
  margin-bottom: 50px;
}

.secao-com-texto h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 37px;
}

.secao-com-texto p {
  font-size: 18px;
  max-width: 702px;
  text-align: center;
}


.ladrilhos {
  display: flex;
  height: 600px;
}

.ladrilho-grande {
  background: url(../images/4.jpg) center center no-repeat;
  width: 50%;
}

.ladrilhos-menores {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.ladrilhos-menores .pequeno {
  background: url(../images/2.jpg) center center no-repeat;
  width: 50%;
}

.ladrilhos-menores .pequeno-grao {
  background: url(../images/3.jpg) center center no-repeat;
  height: 300px;
  width: 50%;
}

.ladrilhos-menores .medio {
  background: url(../images/1.jpg) center center no-repeat;
  height: 300px;
  width: 100%;
}

.contato {
  background: url(../images/fundo-contato.jpg) center center no-repeat;
  display: flex;
  align-items: center; 
  justify-content: end; 
  color: #fff;
  height: 600px;  
}

.contato h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contato address {
  font-size: 25px;
  font-weight: 600;
}

.texto {
    margin-right: 250px;
}

.rodape {
  background: url(../images/fundo-rodape.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;  
  padding: 35px 30px;
}

.menu-roda-pe{  
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
}

.rodape ul{
    display: flex;
}

.rodape ul li { 
  padding: 15px;
}

.rodape ul li a {
  color: #fff;
}

.rodape ul li a:hover {
  font-weight: bold;
}

.conteudo-de-baixo{
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: space-between;
}


.rodape .copyright {
  color: #fff;
}

.rodape .rede-sociais .facebook,
.rodape .rede-sociais .instagram {
  width: 20px;
  height: 20px;
  margin: 10px;
}



