html {
  font-size: 62.5%;
}

body {
  max-width: 140rem;
  margin: 0 auto;
  font-size: 1.6rem;
}

.cabecalho {
  max-height: 600px;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho ul {
  display: flex;
}

.cabecalho ul li a {
  padding: 4.6rem;
}

.cabecalho ul li a:hover {
  font-weight: 600;
}

.painel {
  background: url(../images/painel.jpg) center center no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.painel h2 {
  color: #fff;
  font-size: 60px;  
}

.secao-com-texto {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.secao-com-texto img {
  max-width: 17rem;
  max-height: 17rem;
  margin-bottom: 7rem;
}

.secao-com-texto h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3.7rem;
}

.secao-com-texto p {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  max-width: 702px;
}

.secao-com-texto .texto {
  font-size: 2.8rem;
}

.ladrilhos {  
  display: flex;
}

.ladrilho-grande {
  min-width: 50%;
}

.ladrilho-grande img {
  min-height: 100%;
}

.ladrilho-menores {
  display: flex;
  flex-wrap: wrap;
}

.ladrilhos-pequenos {
  display: flex;
  max-width: 50%;
}

.contato {
  background: url(../images/fundo-contato.jpg) center center no-repeat;
  display: flex;
  min-height: 600px;
  align-items: center;
  justify-content: end;
  color: #fff;
}

.texto-contato {
  margin-right: 20%;
}

.texto-contato h2 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.texto-contato address {
  font-size: 25px;
  font-weight: 600;
}

.rodape {
  background-image: url(../images/fundo-rodape.jpg);
  background-size: cover;
  min-height: 215px;
}
.menu-roda-pe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.rodape ul {
  display: flex;
}

.rodape ul li {
  padding: 15px;
}

.rodape ul li a {
  color: #fff;
}

.rodape ul li a:hover {
  font-weight: bold;
}

.conteudo-de-baixo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.rodape .copyright {
  color: #fff;
}

.rodape .rede-sociais .facebook,
.rodape .rede-sociais .instagram {
  width: 20px;
  height: 20px;
  margin: 10px;
}
